{% extends '@App/layout.html.twig' %}

{% block content %}
    <h3 class="text-center">
        {{ "errors.error_404"|trans }}
    </h3>
{% endblock %}

{% block language %}
    <li>
        <div class="btn-group dropup">
            <button class="btn dropdown-toggle p0" data-toggle="dropdown">
                <img src="{{ asset('images/EN.png') }}" alt="EN" width="25">
            </button>
            <ul class="dropdown-menu" id="changelanguageUl">
                <li>
                    <a href="">
                        <img src="{{ asset('images/RU.png') }}" alt="RU" width="25">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{{ asset('images/AM.png') }}" alt="AM" width="25">
                    </a>
                </li>
            </ul>
        </div>
    </li>
{% endblock %}