<div class="col-md-12">
    <button type="submit" class="btn btn-gold-white w100 h46 btn-lg">{{ 'registration.continue'|trans({}, 'FOSUserBundle') }}</button>
    <div class="mt15">
        Already have an account? <a href="{{ path('fos_user_security_login') }}" class="text-gold">Log In</a>
    </div>
</div>
