{% extends "AppBundle::layout.html.twig" %}

{% block breadcrumbs %}
    <div class="row">

        <ol class="breadcrumb" id="myBreadcrumb">
            <li><a href="{{ path('app_homepage') }}">Home</a></li>
            <li class="active">
                Sign Up
            </li>
        </ol>

    </div>
{% endblock %}

{% block content %}
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock content %}

{% block javascriptsBottom %}
    {{ parent() }}
{% endblock %}
