@font-face {
    font-family: myFirstFont;
    /*src: url("../fonts/MYRIADPRO-LIGHT.OTF");*/
    src: url("../fonts/MYRIADPRO-BLACK.OTF");
}

@font-face {
    font-family: myUnboldFont;
    /*src: url("../fonts/MYRIADPRO-LIGHT.OTF");*/
    src: url("../fonts/MyriadPro-Regular_0.otf");
}

@media only screen and (max-width: 480px){
    .left_big_square{
        width: 20%;
    }
}

body{
    font-family: myFirstFont!important;
}

.top {
    background-color: #a38e44;
    height: 5px;
}

/*.container-fluid{
    padding-left: 25px !important;
    padding-right: 25px !important;
}*/
input{
    border-radius: 0 !important;
}

button{
    border-radius: 0 !important;
}

.black222 {
    background-color: #222;
    padding-top: 20px;
    /* padding-bottom: 20px;*/
    border-bottom: 1px solid #fff;
    min-height: 20px;
}

.logo {
    display: block;
    margin-left: 25px;
}

.searchInput {
    height: 30px;
    padding: 0 10px;
    font-size: 13px;
}

.w100 {
    width: 100% !important;
}

.p0 {
    padding: 0 !important;
}

.pt20 {
    padding-top: 20px !important;
}

.pl0 {
    padding-left: 0 !important;
}

.pr0 {
    padding-right: 0 !important;
}

.mt0 {
    margin-top: 0 !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.ml0 {
    margin-left: 0 !important;
}

.mr0 {
    margin-right: 0 !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mb15 {
    margin-bottom: 15px !important;
    display: block;
}

.ml10 {
    margin-left: 10px !important;
}

#topMenu {
    list-style-type: none;
    float: right;
    font-size: 16px;
    height: 32px;
    padding-left: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #bbb
}

#topMenu img {
    width: 25px;
}

#topMenu .shopBag {
    max-height: 23px !important;
    width: auto;
    margin-top: -1px;
}

#topMenu li {
    margin-left: 12px;
    float: left;
}

#topMenu a, #topMenu span {
    color: #000;
    text-decoration: none !important;
}

#topMenu a i {
    color: #000 !important;
    font-size: 20px;
}

#mainMenu {
    font-family: "myFirstFont";
    padding-left: 2px;
}

#mainMenu li a {
    color: #000;
    /*font-family: "Proxima Nova Light", "Helvetica Neue", "helvetica", "arial", "sans-serif";*/
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-left: 0;
}

#mainMenu li a:hover {
    color: #c2a661 !important;
    background-color: transparent;
!important;
}

.white {
    background-color: #fff !important;
}

.grey {
    background-color: #f3f3f3 !important;
}

.dropdown-menu {
    min-width: 400px;
}

.dropdown-menu li a {
    color: #000 !important;
    /*font-family: "Proxima Nova Light", "Helvetica Neue", "helvetica", "arial", "sans-serif";*/
    display: block;
    font-size: 14px !important;
    padding: 5px 0;
    text-transform: none !important;
}

.hinh {
    box-sizing: inherit;
}

.w320 {
    width: 420px;
}

#catMenu, #moreMenu {
    padding-left: 0;
    list-style-type: none;
}

#catMenu li a, #moreMenu li a {
    font-size: 14px !important;
    text-decoration: none !important;
}


.oneCategory {
    border: 1px solid #e8dfcd;
    margin-bottom: 15px;
}

.oneCategory a {
    display: block;
    border-top: 2px solid #c2a661;
    padding: 25px 5px;
    text-align: center;
}

.oneCategory a:hover {
    background-color: #e8dfcd;
    text-decoration: none !important;
    color: #000;
}

.oneCategory img {
    max-height: 200px;
    max-width: 100%;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
}

.categoryTitle {
    font-size: 20px;
    padding-bottom: 25px;
    font-family: Miller Display Light, Georgia, "serif";
    -webkit-transition: color .25s ease-in;
    transition: color .25s ease-in;
    letter-spacing: 1px;
    color: #666;
    position: relative;
    z-index: 1;
}

.oneCategory span {
    transition: color .25s ease-in;
    color: #c2a661;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.mainCat {
    /*font-family: Miller Display Light, Georgia, "serif";
    letter-spacing: 1px;*/
    margin: 0;
    float: left;
    font-size: 28px;
    padding: 10px 0;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#myBreadcrumb {
    padding: 8px 15px;
    margin-top: -5px;
    margin-bottom: 0;
    list-style: none;
    background-color: #fff;
    border-radius: 0px;
    margin-left: 3px;
}

#myBreadcrumb a {
    color: #888;
    transition: color .25s linear;
    font-size: 14.5px;
    text-decoration: none;
    text-transform: capitalize;
}

#myBreadcrumb li.active {
    color: #222 !important;
    text-transform: capitalize;
}

#myBreadcrumb > li + li:before {
    padding: 0 5px;
    content: "|\00a0";
}

.flex {
    display: flex;
}

.outline {
    outline: 1px solid #000;
    min-height: 300px !important;
}

.oneProduct a {
    width: 100%;
    height: 100%;
    /*display: block;*/
    text-decoration: none !important;
    margin-bottom: 40px;
}

.oneProduct img {
    max-height: 200px;
}

.product-name {
    padding: 0;
    margin: 10px 0 0;
    color: #222;
    font-size: 1.08333em;
    line-height: 1.28571em;
}

.product-name a {
    color: #222;
    font-size: 1.08333em;
    line-height: 1.28571em;
}

.product-title {
    position: relative;
    min-height: 66px;
    max-height: 66px;
    border-top: 1px solid #bbb;
    margin-top: 20px;
    padding-left: 15px;
}

.oneProduct a:hover {
    /*
        border: 1px solid #ddd;*/
}

.product-price-item {
    display: block;
    color: #222;
    margin-bottom: 30px;
}

.singleProductLeft img {
    margin: 0 auto;
}

.singleProductRight h1 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 87px;
    letter-spacing: 0.5px;
    max-width: 85%;
    text-align: left;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    width: 286.734px;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 143.359px 43.5px;
    transform-origin: 143.359px 43.5px;
    caret-color: rgb(34, 34, 34);
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal normal 24px / 36px "Miller Display Light", Georgia, serif;
    margin: 0px 0px 13px;
    outline: rgb(34, 34, 34) none 0px;
}

/*#H1_1*/

#DIV_2 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 36px;
    letter-spacing: 0.5px;
    text-align: left;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    width: 286.734px;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 143.359px 18px;
    transform-origin: 143.359px 18px;
    caret-color: rgb(34, 34, 34);
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal normal 24px / 36px "Miller Display Light", Georgia, serif;
    outline: rgb(34, 34, 34) none 0px;
}

/*#DIV_2*/

#DIV_3 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 51px;
    letter-spacing: 0.5px;
    text-align: left;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    width: 286.734px;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 143.359px 25.5px;
    transform-origin: 143.359px 25.5px;
    caret-color: rgb(34, 34, 34);
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal normal 20px / 26px "Miller Display Light", Georgia, serif;
    outline: rgb(34, 34, 34) none 0px;
}

/*#DIV_3*/

#DIV_4 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 25px;
    letter-spacing: 0.5px;
    text-align: left;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    width: 286.734px;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 143.359px 12.5px;
    transform-origin: 143.359px 12.5px;
    caret-color: rgb(34, 34, 34);
    border: 0px none rgb(34, 34, 34);
    font: italic normal normal normal 20px / 25px "Miller Display Light", Georgia, serif;
    outline: rgb(34, 34, 34) none 0px;
}

/*#DIV_4*/

#DIV_5 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 26px;
    letter-spacing: 0.5px;
    text-align: left;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    width: 286.734px;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 143.359px 13px;
    transform-origin: 143.359px 13px;
    caret-color: rgb(34, 34, 34);
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal normal 20px / 26px "Miller Display Light", Georgia, serif;
    outline: rgb(34, 34, 34) none 0px;
}

/*#DIV_5*/

#SPAN_6 {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    letter-spacing: 0.5px;
    text-align: left;
    text-decoration: none solid rgb(34, 34, 34);
    text-size-adjust: 100%;
    column-rule-color: rgb(34, 34, 34);
    caret-color: rgb(34, 34, 34);
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal normal 20px / 26px "Miller Display Light", Georgia, serif;
    outline: rgb(34, 34, 34) none 0px;
}

/*#SPAN_6*/

.singleProductRight .price span {
    font-size: 18px;
}

.btn-gold {
    background-color: #c2a661;
    border: 1px solid #c2a661;
    color: #fff;
    width: 80%;
    border-radius: 0 !important;
}

.btn-gold:hover {
    background-color: #ffffff;
    border: 1px solid #c2a661;
    color: #c2a661 !important;
    width: 80%;
    border-radius: 0 !important;
}

.btn-gold-white {
    background-color: #fff;
    border: 1px solid #c2a661 !important;
    color: #c0a16b!important;
    width: 80%;
    border-radius: 0 !important;
    font-weight: bold!important;
}

.btn-gold-white:hover {
    background-color: #c2a661;
    border: 1px solid #c2a661;
    color: #fff !important;
    width: 80%;
    border-radius: 0 !important;
}

.singleProductTop {
    padding-bottom: 50px;
    border-bottom: 1px solid #ddd;
}

.read-more, .read-less {
    color: #c2a661 !important;
    cursor: hand;
    text-decoration: none;
}

.creatorText {
    /*white-space: pre-line;*/
    font-size: 16px;
    line-height: 1.5;
    color: #888;
    overflow: hidden;
}

.h144 {
    height: 144px !important;
}

.detailDiv p {
    font-size: 14px;
    /*
    color: #888;
    */
}

.creatorTitles {
    font-family: Miller Display Light, Georgia, "serif";
    font-size: 28px;
    line-height: 1;
    margin: 0;
    text-transform: capitalize;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #ccc;
}

.bbg {

}

#catList {
    margin: 6.94444%;
    list-style-type: none;
}

#catList li {
    box-sizing: inherit;
    display: list-item;
    text-align: -webkit-match-parent;
}

#catList a {
    background: #fff;
    border-bottom: 1px solid #ddd;
    color: #222;
    font-size: 1.33333em;
    padding: 11px 16px;
    border-radius: 5px 5px 0 0;
    display: block;
    text-decoration: none;
}

#catList li.active a {
    background-color: #c2a661;
    color: #fff;
}

.oneCreator a {
    display: block;
    width: 100%;
    text-decoration: none !important;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.oneCreator a:hover .creatorT {
    color: #c2a661;
}

.oneCreator img {
    float: left;
    margin-right: 7px;
}

.creatorT {
    font-size: 15px;
    color: #222;
    margin-top: 10px;
}

.creatorC {
    font-size: 14px;
    color: #888;
}

.carousel-control.right, .carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%) !important;
}

.glyphicon-chevron-right, .glyphicon-chevron-left {
    color: #c2a661 !important;
}

.owl-dot {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #ddd;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
    float: left;
    margin-left: 3px;
}

.owl-dots .active {
    background-color: #c2a661;
}

.topCarousel {
    /*padding: 25px;*/
    padding: 0 !important;
    position: relative;
}

.carouselImgDiv {
    padding: 15px;
    border: 1px solid #ccc;
}

.carouselImgDiv a {
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 50%;
}

.topCarousel img {
    margin: 0 auto;
}

.module-header {
    font-size: 28px;
    /*padding: 35px 0;
    padding-top: 30px;*/
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
}

input[type='radio']:checked:after {
    background-color: #fff!important;
}

.module-header:after {
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    margin: 10px auto 0;
    background: #c2a661;
}

.topCarousel a, .carouselTitleDiv a {
    /*display: block;
    width: 100%;*/
    text-decoration: none !important;
    color: #000;
}

.topCarousel a:hover, .carouselTitleDiv a:hover {
    color: #c2a661;
}

.topCarousel hr {
    color: #ddd;
    background-color: #ddd;
    border-top: 1px solid #ccc;
}

.topCarousel a:hover p {
    color: #c2a661;
}

.topCarousel p {
    font-size: 14px;
    color: #222;
}

.carouselImgDiv:hover{
    border-color: #000;
}

.carouselTitleDiv{
    margin-bottom: 20px;
    text-transform: uppercase;
    padding: 0 15px;
    position: relative;
}

.productActionIcon{
    position: absolute;
    top: 20px;
    right: 15px;
}

/*
.newArrivals .owl-stage, .newArrivals .owl-stage .owl-item{
    width: 100% !important;
}*/

#newArrivals {
    padding-top: 40px;
    padding-bottom: 40px;
}

.newArrivalsCatImg {
    background-color: #fff;
    /*padding: 35px;
    padding-left: 60px;
    padding-right: 60px;*/
    text-align: center;
    padding: 25px 0;
}

.newRight img {
    margin-bottom: 15px;
}

/*.newRight a{
    display: block;
    width: 100%;
    padding: 10%;
    margin-bottom: 35px;
    background-color: #eee;
}*/

.newRightProduct {
    text-align: center;
    background-color: #eeeeee;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 15px;
}

.newRightProduct img {
    max-width: 150px !important;
}

.newRightProductA {
    color: #000 !important;
    font-size: 18px;
}

.newArrivalsCatImg h3 {
    margin-bottom: 25px;
}

.newArrivalsCatImg a {
    display: block;
    width: 100%;
    text-decoration: none !important;
}

.newArrivalsCatImg span {
    color: #c2a661;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 20px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-transform: uppercase;
}

.newArrivalsCatImg h3 {
    font-size: 24px;
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: 20px;
    min-height: 0;
    color: #222;
}

.newArrivalsCatImg img {
    margin-bottom: 20px;
}

.owl-dots {
    text-align: center !important;
}

.sorting {
    margin-bottom: 15px;
}


/*
#sortProducts:hover {
    background-color: #fff;
    cursor: hand;
   !* color: #c2a661;*!
}

#sortProducts option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 20px 2px 1px;
}

#sortProducts option:hover {
    background-color: #B8B8B8;
}
*/

.rightFilterForm ul.dropdown-menu{
    padding: 0 10px!important;
}

.rightFilterForm ul.dropdown-menu > .active > a, .rightFilterForm ul.dropdown-menu > .active > a:hover, .rightFilterForm ul.dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background: none!important;
    outline: 0;
}

a.forIcons {
    display: block;
    width: 30px;
    height: 30px;
    padding: 6px 0;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    text-align: center;
    color: #888;
}

ul#gridView {
    list-style-type: none;
    padding-left: 0 !important;
    margin-left: 10px;
}

ul#gridView li {
    float: left;
}

ul#gridView i {
    font-size: 17px;
}

ul#gridView li.active a, ul#gridView a.forIcons:hover {
    color: #c2a661;
    background-color: #fff;
}

.listOneProduct {
    border-bottom: 1px solid #bbb;
    padding: 15px 0;
}

.divImg img {
    max-width: 250px;
}

input.goldInput, div.goldInput, select.goldInput {
    border: 1px solid #c2a661!important;
    border-radius:0!important;
}

h2.accountInfo {
    margin: 36px 0;
    line-height: 1;
    font-size: 20px;
}

.pl30 {
    padding-left: 30px !important;
}

#accountMenu {
    list-style-type: none;
}

#accountMenu li {
    padding: 10px 0;
}

#accountMenu li a {
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    line-height: 1.7;
    color: #666;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

#accountMenu li.current a {
    border-color: #c2a661;
    padding-bottom: 2px;
}

#accountMenu li a:hover {
    color: #c2a661;
}

.fioDiv h4 {
    margin-bottom: 35px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.fioDiv label{
    text-transform: uppercase;
}

#fos_user_registration_form_title input[type="radio"] {
    margin-right: 5px;
    margin-left: 5px;
}

#content {
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    #content {
        min-height: 250px;
    }
}

.owl-controls {
    display: inline-block !important;
}

.owl-stage-outer {
    margin-bottom: 15px;
}

#filtersDiv {
    background: #fff;
    /*border: 1px solid #ccc;*/
    min-height: 200px;
    /*padding: 30px 20px;*/
}

/*#filtersDiv:hover{
    border: 1px solid #000;
}*/

.filterTitle {
    font-size: 14px;
    letter-spacing: 1px;
    color: #444;
}

.productCount {
    color: #888;
}

.filterHeader {
    margin-bottom: 20px;
}

a.filterLabel, a.filterLabel:hover, a.filterLabel:link {
    display: block;
    color: #444;
    font-size: 14px;
    line-height: 1;
    border-bottom: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    text-decoration: none !important;
}

.accordion-container {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.accordion-content{
    margin-top: 15px;
}

a.filterLabel span {
    margin-top: -10px;
}

.pl65 {
    padding-left: 6.5%;
}

.topMainCat a, .topMainCat a:hover {
    text-decoration: none !important;
    color: #444;
}

.slider.slider-horizontal {
    width: 95% !important;
}

.slider-handle {
    background-color: #c2a661 !important;
    background-image: none !important;
}

.oneColor {
    border: 1px solid #ccc;
    border-radius: 9999px;
    box-sizing: border-box;
    display: block;
    height: 24px;
    width: 24px;
    float: left;
    margin-right: 13px;
    margin-bottom: 10px;
}

footer {
    padding: 0;
    text-align: center;
    font-size: 12px;
    letter-spacing: 2px;
    background: #c2a661;
}

.footerMenu {
    list-style-type: none;
    margin: 15px;
}

.footerMenu li {
    display: inline-block;
    margin-left: 5px;
}

.footerMenu li a {
    color: grey;
    text-transform: uppercase;
}

.footerMenu li span {
    color: grey;
}

.footerMenu li a:hover {
    color: #fff;
    text-decoration: none;
}

#socialDiv {
    list-style-type: none;
    margin-bottom: 40px;
    margin-top: 40px;
}

#socialDiv li {
    display: inline-block;
    margin-left: 15px;
}

#socialDiv li a {
    display: block;
    /*border: 1px solid #000;*/
    width: 40px;
    /*border-radius: 100%;*/
    /*padding: 10px;*/
}

#socialDiv img {
    width: 100%;
}

#socialDiv li a i {
    color: #888;
}

#socialDiv li a:hover {
    border: none !important;
}

#socialDiv li a:hover i {
    color: #fff;
}

/*.twitterA:hover{
    background-color: #0084b4;
}

.facebookA:hover{
    background-color: #3b5998;
}

.pinterestA:hover{
    background-color: #bd081c;
}

.instagramA:hover{
    background-color: #1769ff;
}*/

#copy, #copy a {
    color: #888;
}

#copy a {
    margin-left: 10px;
    text-decoration: none;
}

#footerCategories {
    margin-left: -15px;
    margin-right: -15px;
    justify-content: center;
    font-size: 12px;
    text-transform: uppercase;
    background: #444;
    padding: 20px 0;
}

#footerCategoryMenu {
    list-style-type: none;
}

#footerCategoryMenu li {
    display: inline-block;
    margin-left: 15px;
}

#footerCategoryMenu li a {
    color: #888;
    text-decoration: none;
}

#footerCategoryMenu li span {
    color: #888;
}

#footerCategoryMenu li:last-child {
    display: none;
}

#copy {
    margin-bottom: 25px;
}

.blogTitle {
    font-size: 28px;
}

@media (max-width: 768px) {
    .blogTitle {
        font-size: 22px;
    }
}

div.oneBlog {
    margin-bottom: 15px;
}

h2.blogListTitle {
    font-size: 28px;
    line-height: 1.15;
}

h2.blogListTitle a {
    color: #434a54;
}

h2.blogListTitle a:hover {
    color: #c2a661;
    text-decoration: none !important;
}

p.myCart {
    font-family: Miller Display Light, Georgia, "serif";
    font-size: 24px;
    line-height: 1.65;
}

.myCart span {
    font-family: Proxima Nova Light, Helvetica Neue, helvetica, arial, "sans-serif";
    color: #888;
    font-size: 22px;
    letter-spacing: 1px;
}

hr.grey {
    height: 1px;
    color: #ddd;
    background-color: #ddd;
    margin-top: 0px;
    margin-bottom: 0;
}

div#cart {
    padding-top: 25px;
}

a.backTo {
    color: #c2a661;
    text-decoration: none;
}

a.backTo:hover {
    text-decoration: none;
    color: #000;
}

.cartProduct {
    border: 1px solid #ddd;
    padding: 27px 18px;
    margin-top: 27px;
    position: relative;
    display: flex;
}

.cartProduct:hover {
    border: 1px solid #c2a661;
}

.cartProductCenter a, .purchaseProduct a {
    text-decoration: none;
    color: #222;
    font-size: 16px;
    margin-bottom: 30px;
    display: block;
}

.cartProductCenter a:hover {
    color: #c2a661;
}

.cartProductCenter {
    border-right: 1px solid #ddd;
    height: inherit;
}

.cartProductPrice {
    position: absolute;
    bottom: 0;
    width: 80%;
}

.cartProductPrice p {
    color: #888;
    font-size: 14px;
}

.cartProductRight {
    vertical-align: middle;
    height: inherit;
}

.cartProductRight .removeLink {
    margin-bottom: 25px;
    color: #888
}

.cartTotal {
    font-size: 16px;
    color: #222;
    font-weight: bold;
}

.cartTotalDiv {
    border: 1px solid #ddd;
    border-top: none;
    padding: 15px;
}

/*.wishlist{
    margin-right: 30px;
}*/

.wishlist i {
    color: #c2a661;
    font-size: 18px;
}

.wishList {
    margin-right: 0;
}

#wishCount, #cartCount{
    display: block;
   /* font-size: 23px;*/
    float: right;
    margin-left: 4px;
    font-weight: 400!important;
    font-size: 20px;
    line-height: 1;
    margin-top: 2px;
    font-family: myUnboldFont;
}


.product-title-list {
    margin-bottom: 30px;
}

#catBanners {
    margin-top: 25px;
}

.f20 {
    font-size: 20px !important;
}

.logoDiv {
    width: 210px !important;
    margin: 33px auto;
}

.purple {
    height: 8px;
    background-color: #7D6682;
}

.gold {
    background-color: #D2AE6D;
    height: 8px;
}

.formDiv {
    margin-top: 15px;
}

.formDiv img {
    width: 16px;
}

.formDiv input {
    border-radius: 0 !important;

}

.formDiv .input-group {
    border: 1px solid #000;
}

.formDiv .btn-default {
    background-color: #ffffff !important;
    /*border: none !important;*/
}

#bigBanner {
    margin-bottom: 15px;
}

#shopBycategory {
    margin-bottom: 15px;
}

.oneCatImg {
    margin-bottom: 30px;
}

.pt30 {
    padding-top: 30px !important;
}

.languages {
    position: relative;
    z-index: 10;
}

#changelanguageUl {
    background: transparent !important;
    border-color: transparent;
    width: 25px !important;
    margin: 0 !important;
    padding: 0 !important;
    min-width: 25px !important;
}

#changelanguageUl li {
    float: none !important;
    margin-left: 0;
}

#changelanguageUl li a {
    padding: 0 !important;
    margin-bottom: 3px;
    background-color: transparent!important;
}

.arrivals_item {
    display: flex;
    flex-direction: row;
}

.left_big_square {
    background-size: cover;
    height: 100%;
    max-height: 100%;
    width: 50%;
    padding: 10px;
    /*background-color: blue;*/
}

.right_big_square {
    height: auto;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    /*background-color: red;*/
}

.right_small_square {
    padding: 10px;
    background-color: #f3f3f3;
    margin: 10px;
    height: 22.84vw;
    width: 22vw;
    position: relative;
}
.right_small_square img{
    height: 50%;
    width: 50%;
    max-width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: inline-block;
    background-color: #e1e463;
}
.right_small_square span{
    left: 50%;
    transform: translateX( -50%);
    position: absolute;    bottom: 10px;
    z-index: 3;
}


.arrivals_row{
    display: flex;
    flex-direction: row;
}
.left_image{
    width: 100%;
    height: 100%;
    background-color: silver;
    background-image: url("../images/Sam.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /*margin: 10px;*/
}
.left_image span{
    margin: 0 auto;
    color: black;
    font-size: 2em;
}
.small_image{
    height: 120px;
    width: 120px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.right_small_text{
    left: 50%;
    transform: translateX( -50%);
    position: absolute;
    margin-top: 10px!important;
    font-size: 18px!important;
}

.right_small_image{
    margin: 0 auto;
    margin-top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.vMore{
    margin-bottom: 10px;
    color: #c2a661;
}

.right_small_square a:hover{
    color: initial!important;
}

#inputSearch:focus, #searchBtn:focus{
    border: none!important;
    border-color: #cccccc!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;

}

#searchBtn{
    border-color:#fff !important;
    background: transparent;
    color: #F2F2F2;
    -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
    transition: background .2s ease-in-out, border .2s ease-in-out;


}

#searchBtn:active, #searchBtn:focus, button {
    outline: 0 none !important;
}

#inputSearch{
    border: none!important;
    padding-top: 10px;
    border: none!important;
    border-color: #cccccc!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.blg{
    border-left: 1px solid #c2a661;
}

.brg{
    border-right: 1px solid #c2a661;
}

.registerForm label, .registerForm button, .registerForm a.btn{
    text-transform: uppercase;
    font-size: 14px!important;
    padding-top: 15px;
}


.registerForm input{
    border-radius: 0!important;
}

.form-control:focus{
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    border:1px solid #c2a661!important;
}


#fos_user_registration_form_title_0{
    margin-left: 0!important;
}

.errorDiv ul{
    list-style-type: none !important;
    padding: 0 !important;
}
.errorDiv{
    color: #F15A2A;
}

.errorDiv ul li{
    color: #F15A2A;
    margin-top: 1px;
}

.registerForm .has-error .form-control{
   border-color: #F15A2A!important;
}

.registerForm .forTitle{
    margin-bottom: 5px !important;
}

.registerForm .forTitle .errorDiv{
    margin-top: -3px;
}

.mandatory{
    color: #F15A2A;
    /*position: absolute;*/
    margin-left: 1px;
}

.myHR{
    color: #ccc;
    background-color: #ccc;
    border-top: 1px solid #ccc;
    width: 50%;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
    background-color: #fff!important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color: #fff!important;
}

.ccc{
    border-bottom: 1px solid #ccc;
}

.centered{
    margin: 0 auto;
}

.position-r {
    position: relative !important;
}

.position-a{
    position: absolute!important;
}

.topMenuDiv{
    margin-top: -95px;
}

.topMenuDiv .bootstrap-select{
    width: 75px!important;
}

.lagunageUl{
    list-style-type: none;
    float: right;
}

.lagunageUl li{
    float: left;
    margin-left: 12px;
}

.lagunageUl li a{
    color: #000;
    text-decoration: none !important;
}

.lagunageUl li.active a{
    color: #c2a661;
}

.has-error .help-block{
    color: #F15A2A!important;
}

.h46{
    height: 46px !important;
}

.mr10{
    margin-right: 10px !important;
}

.fs16{
    font-size: 16px!important;
}

.terms{
    padding-top: 3px;
}

.terms a:hover{
    text-decoration: none!important;
}



a.forgot{
    color:#000;
    text-decoration: none;
}

a.forgot:hover{
    text-decoration: none !important;
    color: #c2a661;
}

.forTitle input {
    margin-right: 4px;
}

.forTitle label{
    margin-right: 8px;
}

.right-menu {
    width: 42%;
}

.step-tabs {
    margin-bottom: 32px;
}

.step-tabs ul {
    display: flex;
    list-style: none;
    padding-inline-start: 0;
}

.step-tabs ul li {
    border-right: .063rem solid #fff;
    text-align: center;
}

.step-tabs .cart-step .text {
    /*font-size: .875rem;*/
    font-weight: bold;
    color: #181818;
    letter-spacing: 0;
    display: block;
    border-bottom: 2px solid #181818;
    line-height: 1;
    padding: 0 15px 8px 15px;
    height: 100%;
}

.step-tabs .confirmation-step .text {
    /*font-size: .875rem;*/
    font-weight: bold;
    letter-spacing: 0;
    display: block;
    border-bottom: 2px solid #181818;
    line-height: 1;
    padding: 0 15px 8px 15px;
    height: 100%;
    color: #776a61;
    border-color: #c0b7af;
}
.item-nav{
    min-height: 14px;
}
.item-nav .price{
    font-size: 14px;
    margin: 0 0 .625rem .5rem;
}
.color .label {
    font-size: .875rem;
    color: #776a61;
}
.color .value {
    font-size: 14px;
}
.lastAvailable{
    background-color:#e5e6ea;
    padding: 8px;
}
.nextPageButton{
    background-color: #181818;
    border-color: #444;
    color: #fff;
}
.nextPageButton .text{
    font-size: 12px;
}

.d-flex{
    display: flex !important;
}

.px-4 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.mt-5{
    margin-top: 3rem!important;
}

.ml-5{
    margin-left: 3rem!important;
}

.p-3 {
    padding: 1rem!important;
}

.pr-0, .px-0 {
    padding-right: 0!important;
}
.flex-column {
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}

.col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-lg-3{
    flex: 0 0 25%;
    max-width: 25%;
}

.w-100{
    width: 100% !important;
}

.ml-auto, .mx-auto {
    margin-left: auto!important;
}

.px-4 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

#cart .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.mr15{
    margin-right: 15px !important;
}

.text-right {
    text-align: right!important;
}
.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}

.p-3 {
    padding: 1rem!important;
}

.mt-5, .my-5 {
    margin-top: 3rem!important;
}

.text-white{
    color: #fff!important;
}

.bg-n{
    background: none !important;
}

.mt-3, .my-3 {
    margin-top: 1rem!important;
}

.mb-1, .my-1 {
    margin-bottom: .25rem!important;
}

.bg-transparent{
    background-color: transparent!important;
}

.text-black,.text-black:visited,.text-black:active,.text-black:focus{
    color: #000;
    text-decoration: none !important;
}

.text-black:hover{
    color: #a38e44;
    text-decoration: none;
}

.text-gold,.text-gold:visited,.text-gold:active,.text-gold:focus{
    color:#a38e44;
    text-decoration: none !important;
}

.text-gold:visited{
    color:#a38e44;
}



.text-gold:hover{
    color: #000!important;
    text-decoration: none!important;
}

.registerForm input[type="radio"]:checked~input[type="radio"]::before {
    background-color: green;
}

.has-feedback .form-control {
    padding-right: 22.5px;
}

.phone{
    padding-left: 32px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


label{
    text-transform: uppercase;
}


.text-danger{
    color: #F15A2A!important;
}

.uppercase{
    text-transform: uppercase!important;
}

.productInfo a{
    display: block;
    font-size: 16px;
}

.birthdayDiv .bootstrap-select{
    padding-right: 0;
}

.birthdayDiv .btn-default{
    border: none!important;
}

.birthdayDiv .btn-default:hover{
    background: none!important;
}

.birthdayDiv .btn-default:active{
    background: none!important;
    border: none!important;
}

.birthdayDiv ul.dropdown-menu{
    padding: 0 10px!important;
}

.birthdayDiv ul.dropdown-menu > .active > a, .rightFilterForm ul.dropdown-menu > .active > a:hover, .rightFilterForm ul.dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background: none!important;
    outline: 0;
}


.px25{
    padding: 0 25px!important;
}

.px45{
    padding: 0 45px!important;
}

.pagination{
    display: inline-block;
    margin: 0 auto;
}

.pagination li.active span{
    background: #f3f3f3!important;
    border: 1px solid #ccc!important;
}

.pagination li a, .pagination li span{
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    color: #222!important;
    text-align: center;
    min-width: 40px;
}

.tac{
    text-align: center!important;
}

.mb30{
    margin-bottom: 30px !important;
}

.m0{
    margin: 0 !important;
}

.mx0{
    margin-left: 0 !important;
    margin-right: 0 !important;
}


#filtersDiv input[type="checkbox"]{
    margin-top: 3px;
    margin-right: 5px;
}

#filtersDiv label{
    font-size: 14px;
}

#filtersDiv .goldInput{
    font-size: 14px;
}


