{% extends "AppBundle::layout.html.twig" %}

{% block breadcrumbs %}
    {% set locale = app.request.get('_locale') %}
    <div class="row">

        <ol class="breadcrumb" id="myBreadcrumb">
            <li><a href="{{ path('app_homepage') }}">Home</a></li>
            <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
            <li class="active">
                Reset password
            </li>
        </ol>

    </div>
{% endblock %}
{% block content %}

    <div class="text-center">
        <h2 class="module-header mb15">
            Reset password
        </h2>
    </div>
    <div class="row">
        {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
    </div>

{% endblock content %}
