{% if bigBanner %}
    <div id="bigBanner">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <h2 class="module-header">
                        {{ "product.big_banner_index"|trans }}
                    </h2>
                </div>

                <div class="bigBannerImgDiv">
                    <a href="{{ bigBanner.url }}" target="{{ bigBanner.target }}">
                        <img src="{% path bigBanner.image, 'reference' %}" class="img-responsive" alt="Banner">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endif %}
