<li>
    <a href="{{ path('cart') }}">
        {#<i class="fa fa-shopping-bag" id="cartIcon"></i>#}
        <img src="{{ asset('images/shoppingbag.png') }}" alt="bag" class="shopBag">
    </a>

        <span id="cartCount">({{ products }})</span>
</li>
