<li>
    <a href="{{ path('cart') }}">
        {#<i class="fa fa-shopping-bag" id="cartIcon"></i>#}
        <img src="{{ asset('images/shoppingbag.png') }}" alt="bag" class="shopBag">
    </a>
    {% if products != 0 %}
        <span id="cartCount">({{ products }})</span>
    {% endif %}
</li>