<li>
    <a href="{{ path('cart') }}">
        {#<i class="fa fa-shopping-bag" id="cartIcon"></i>#}
        <img src="{{ asset('images/shoppingbag.png') }}" alt="bag" class="shopBag">
        {% if products != 0 %}
            <span class="f20">({{ products }})</span>
        {% endif %}
    </a>
</li>